@import "../../../variables.module.scss";

.articleFullPage {
  min-height: calc(100vh - 166px);
}

.article {
  max-width: 941px;
  box-sizing: border-box;
  background-color: $ARTICLES_GENERAL_BACKGROUND_COLOR;
  margin: 0 auto;
  // margin-bottom: 26px;
  padding: 17px 19px;
}

.articleHeader {
  display: flex;
}

.articleHeadingBlock {
  position: relative;
}

.likes {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 189px;
  top: 6px;
  font-size: 12px;
  &::before {
    content: url("../../../img/heart-vector.png");
    position: absolute;
    width: 16px;
    height: 15px;
    right: 19px;
  }
}

.tags-container {
  margin-bottom: 4px;
}

.tag-empty {
  @include tag-default-style;
}

.tag-full {
  @include tag-default-style;
  border: 1px solid $ARTICLE_TAGS_BORDED_DEFAULT_COLOR;
}
$variables: #1890ff;

.singleArticleHeading {
  color: #1890ff;
  font-family: $DEFAULT_FONT;
  flex-basis: 200px;
  flex-grow: 10;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.user-info {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  padding-right: 12px;
  margin: 0;
  width: 210px;
  box-sizing: border-box;
}

.user-name {
  text-align: right;
  // font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.user-birth-date {
  text-align: right;
  // font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}

.avatar {
  width: 46px;
  height: 46px;
}

.articleDescription {
  color: $ARTICLE_TAGS_TEXT_DEFAULT_COLOR;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  padding-bottom: 25px;
}

.articleFullText {
}
